@import '../../../node_modules/bootstrap/scss/functions';
@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

legend {
	font-size: 1.1em;
	text-transform: uppercase;
}

.site-navbar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);

	.site-logo {
		height: 35px;
		position: relative;
		top: 1px;
	}
}

.form-signup-section,
.form-signup-section .form-control {
	font-size: 0.85em;
}

.card-images {
	margin-top: 100px;

	> .card-image {
		position: absolute;
		padding: 5px;
		border: 1px solid rgba(0, 0, 0, 0.125);
		background-color: #fff;
		right: 0;
		box-shadow: 0 0 5px 2px rgba(0,0,0,.1);

		&:nth-child(1) {
			transform: rotate(10deg);
		}

		&:nth-child(2) {
			transform: rotate(2deg);
		}
	}
}